{% load i18n %}

<form method="GET" action="">
  {% for fieldset in choices.0.form.fieldsets %}
    <details data-filter-title="{{ fieldset.title }}">
      <summary>{{ fieldset.title }}</summary>
      <ul>
        {% for field in fieldset %}
          <li>
            {{ field.label_tag }}
            {{ field.errors }}
            {{ field }}
            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </details>
  {% endfor %}
  <div class="submit-row">
    <input type="submit" class="default" value="Применить" />
  </div>
</form>
